<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ("../partials/head.ejs") %>
  </head>
  <body>
    <nav>
      <%- include ("../partials/nav.ejs") %>
    </nav>
    <div class="container">

     <h2>Product Edit Page</h2>

     <form class="edit" action="/products/<%=product.id%>?_method=PUT" method="POST">
      <label for="name">Name: </label>
        <input type="text" name="name" value="<%=product.name%>" id="name" >
      <label for="description">Description: </label>
        <textarea name="description" value="" id="description"><%=product.description%></textarea>
      <label for="price">Price: </label>
        <input type="number" name="price" value="<%=product.price || 0 %>" min="0" step=".01">
      <label for="qty">Quantity: </label>
        <input type="number" name="qty" value="<%=product.qty || 0 %>" min="0" id="qty">
      <label for="img">Image: </label>
        <input type="text" name="img" value="<%=product.img%>" id="img">
        <input type="submit" name="submit" value="Submit Changes" class="edit-button">
    </form>
      <h4>Current image:</h4>
      <img src="<%= product.img %>" alt="An image of <%= product.name %>" />
   </div><br>
    <nav class="home">
      <a href="/products#top" alt="home">Back to the Home Page</a>
    </nav>
      <br><br>
   <%- include ("../partials/footer.ejs") %>
  </body>
</html>
