<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ("../partials/head") %>
  </head>
  <body>
    <%- include ("../partials/header") %>
  <div class="container">
    <div class="products">
      <% products.forEach( product => { %>
        <div class="card">
          <h1>New Product</h1>
          <h5> <%= product.name %></h5>
          <a href="/products/<%=product.id%>">
            <img src="<%= product.img %>" alt="An image of <%= product.name %>" /></a>
            <h6>Price: $<%=product.price%></h6>
        </div>
      <% }) %>
    </div>
  </div>
  <%- include ("../partials/footer") %>
</body>
</html>
